nav {
  display: flex;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 20px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu-toggle span {
  background-color: #fff;
  width: 30px;
  height: 3px;
  margin: 5px 0;
  display: block;
}

.menu li {
  margin: 0 10px;
  position: relative;
}

.menu a {
  color: #fff;
  text-decoration: none;
}

.menu ul {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  display: none;
}

.menu li:hover > ul {
  display: block;
}

@media only screen and (max-width: 600px) {
  .menu {
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #333;
    display: none;
  }

  .menu li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }
}


.menu-open .menu {
  display: flex;
}

.menu-open .menu-toggle span:nth-of-type(1) {
  transform: rotate(45deg);
  top: -10px;
}

.menu-open .menu-toggle span:nth-of-type(2) {
  opacity: 0;
}

.menu-open .menu-toggle span:nth-of-type(3) {
  transform: rotate(-45deg);
  top: 10px;
}