body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url("/img/mdg.png") no-repeat;
    background-size: 100%;
    color: #333;
  }
  
  header {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    margin: 0;
  }
  
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  header nav li {
    margin: 0 10px;
  }
  
  header nav a {
    color: #FFF;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }

  
li.playdark a {
    color: #FFF;
    text-decoration: none;
    display: flex ;
    margin: 0 10px;
    padding-top: 500px;
    margin-left: 100px;
}



  @media (min-width: 600px) {
    main {
      justify-content: space-between;
    }

  }
  
  @media (min-width: 900px) {
    main {
        justify-content: space-between;
      }

  }


  

  
